{# #********************************************************************************
# Copyright (c) 2025 Next Industries s.r.l.
#
# This program and the accompanying materials are made available under the
# terms of the Apache 2.0 which is available at http://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
#
# Project Name:
# Tactigon Soul - Shape
# 
# Release date: 30/09/2025
# Release version: 1.0
#
# Contributors:
# - Massimiliano Bellino
# - Stefano Barbareschi
#********************************************************************************/ #}

{% extends "base.jinja" %}

{% block style %}

{% endblock%}

{% block body %}
<div class="d-flex flex-grow-1" id="file_manager">

</div>

{% endblock%}

{% block script %}
    <script src="{{ url_for('file_manager.static', filename='js/filemanager.js') }}"></script>
    <script>
        $(document).ready(function() {
            const fileManager = new FileManager({
                baseUrl: "/files",
                container: "#file_manager",
            });

            fileManager.init();
        });
    </script>

{% endblock %}