{# #********************************************************************************
# Copyright (c) 2025 Next Industries s.r.l.
#
# This program and the accompanying materials are made available under the
# terms of the Apache 2.0 which is available at http://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
#
# Project Name:
# Tactigon Soul - Shape
# 
# Release date: 30/09/2025
# Release version: 1.0
#
# Contributors:
# - Massimiliano Bellino
# - Stefano Barbareschi
#********************************************************************************/ #}


{% extends "base.jinja" %}

{% block body %}
    <div class="d-flex flex-fill">
        <div class="d-flex flex-column justify-content-between sidebar-container">
            <div class="text-center pt-5 pb-3">
                <h5>Settings</h5>
            </div>

            <div class="list-group list-group-flush flex-grow-1 sidebar">
                <a href="{{ url_for('main.settings') }}" class="list-group-item list-group-item-action {% if '/settings' in request_path %}active{% endif %}" alt="Shape info">
                    <i class="mi-outlined mi-info px-3" style="font-size: 24px"></i>
                    Info
                </a>
                <a href="{{ url_for('tskin.socket_settings') }}" class="list-group-item list-group-item-action {% if '/socket_settings' in request_path %}active{% endif %}" alt="Socket settings">
                    <i class="mi-outlined mi-settings-ethernet px-3" style="font-size: 24px"></i>
                    Socket
                </a>
                <a href="{{ url_for('tskin.speech_settings') }}" class="list-group-item list-group-item-action {% if '/speech_settings' in request_path %}active{% endif %}" alt="Speech settings">
                    <i class="mi-outlined mi-settings-voice px-3" style="font-size: 24px"></i>
                    Speech
                </a>
            </div>
        </div>
        {% block settings %}
        {% endblock%}
    </div>
{% endblock %}